.xue-modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #314659;
    z-index: 99;
}
.xue-modal-content {
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    z-index: 100;
    min-width: 200px;
    border-radius: 4px;
    >.xue-modal-header {
        padding: 20px 16px;
        color: rgba(0, 0, 0, 0.85);
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    >.xue-modal-body {
        padding: 0 24px;
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
    }
    >.xue-modal-footer {
        padding: 10px 16px;
        text-align: end;
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
    }
}