@import '../style/mixins.scss';
.xue-check {
    vertical-align: middle;
    &-box {
        padding: 0 6px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        display: inline-flex;
        width: 16px;
        height: 16px;
    }
}