$link:#1890ff;
$success:#52c41a;
$warning:#faad14;
$error:#f5222d;
$title:rgba(0, 0, 0, .85);
$main:rgba(0, 0, 0, .65);
$sub:rgba(0, 0, 0, .45);
$disabled:rgba(0, 0, 0, 0.25);
$border:rgba(0, 0, 0, .15);
$divider:rgba(0, 0, 0, .09);
$bg:rgba(0, 0, 0, .04);
$selected:#e6f7ff;
$hover:#40a9ff;
$brand:#1890ff;
$click:#096dd9;
$shadow:0 2px 8px rgba(0, 0, 0, .15);

// disabled
// color: rgba(0, 0, 0, 0.25);
// border-color: #d9d9d9;
// background-color: #e6e6e6;
// transition: all .3s cubic-bezier(.645, .045, .355, 1);
// hover bg #e6f7ff

// modal 100