.xue-lightup-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 99;
}
.xue-lightup-img-wrapper {
    position: fixed;
    z-index: 100;
    >.xue-lightup-img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
}
.xue-lightup-scale {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -9999;
    pointer-events: none;
}