.code-example-box {
    position: relative;
    >.code-title {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #fff;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.85);
        position: absolute;
        top: -11px;
        left: 32px;
        line-height: 22px;
        z-index: 1;
        padding: 0 8px;
        cursor: default;
        border-radius: 4px;
    }
    >.code-description {
        padding: 18px 32px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        color: rgba(0, 0, 0, 0.65);
        position: relative;
        font-size: 14px;
        transition: all .3s cubic-bezier(.645, .045, .355, 1);
        color: rgba(0, 0, 0, 0.65);
        &.code-visible {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .icon-wrapper {
            color: rgba(0, 0, 0, 0.45);
            display: inline-flex;
            justify-content: center;
            align-content: center;
            cursor: pointer;
            position: absolute;
            bottom: 18px;
            right: 12px;
        }
    }
    >.code-example {
        background-color: rgb(40, 40, 40);
        color: rgb(212, 212, 212);
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        padding: 18px 32px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        .label {
            color: rgb(128, 128, 128);
        }
        .component {
            color: rgb(78, 201, 176);
        }
        .htmltag {
            color: rgb(86, 156, 214);
        }
        .htmlstr {
            color: rgb(212, 212, 212);
        }
        .string {
            color: rgb(206, 145, 120);
        }
        .property {
            color: rgb(156, 220, 254);
        }
        .keyword {
            color: rgb(197, 134, 192);
        }
        .method {
            color: rgb(220, 220, 170);
        }
        .text {
            color: rgb(212, 212, 212);
        }
        .num {
            color: rgb(181, 206, 168);
        }
    }
}

.pop-content-code-tips {
    color: rgba(255, 255, 255, 0.85);
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    padding: 4px 8px;
    white-space: nowrap;
}