@import '../../style/mixins.scss';
.xue-radio {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 22px;
    &.vertical {
        flex-direction: column;
    }
    >.xue-option {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        >.label-dot {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid;
            border-color: rgba(0, 0, 0, 0.15);
            display: flex;
            justify-content: center;
            align-content: center;
            position: relative;
            transition: all .3s cubic-bezier(.78, .14, .15, .86);
            &::after {
                position: absolute;
                top: 3px;
                left: 3px;
                content: '';
                display: block;
                width: 8px;
                height: 8px;
                background-color: $brand;
                border-radius: 50%;
                opacity: 0;
                transform: scale(0);
                transition: all .3s cubic-bezier(.78, .14, .15, .86);
            }
        }
        &:hover {
            >.label-dot {
                border-color: $brand;
            }
        }
        &.checked {
            >.label-dot {
                border-color: $brand;
                &::after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        >.label-text {
            padding: 0 8px;
            background-color: #fff;
            transition: all .3s cubic-bezier(.78, .14, .15, .86);
        }
        &.button-style {
            >.label-text {
                padding: 4px 15px;
                border: 1px solid;
                border-color: rgba(0, 0, 0, 0.15);
                &:hover {
                    color: $brand;
                }
            }
            &:not(:first-child) {
                >.label-text {
                    margin-left: -1px;
                }
            }
            &:first-child {
                >.label-text {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
            &:last-child {
                >.label-text {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
            &.checked {
                >.label-text {
                    background-color: $brand;
                    color: #fff;
                    position: relative;
                    z-index: 1;
                    border-color: $brand;
                    &:hover {
                        background-color: $hover;
                        border-color: $hover;
                    }
                }
            }
        }
        &.button-style.vertical {
            >.label-text {
                margin-left: 0;
                min-width: 120px;
                text-align: center;
            }
            &:not(:first-child) {
                >.label-text {
                    margin-top: -1px;
                }
            }
            &:first-child {
                >.label-text {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 0;
                }
            }
            &:last-child {
                >.label-text {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 4px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 4px;
                }
            }
        }
        &.disabled {
            >.label-dot {
                cursor: not-allowed;
                border-color: #d9d9d9;
                background-color: #e6e6e6;
                &::after {
                    background-color: rgba(0, 0, 0, 0.35);
                }
            }
            >.label-text {
                cursor: not-allowed;
                color: rgba(0, 0, 0, 0.25);
                &:hover {
                    color: rgba(0, 0, 0, 0.25);
                }
            }
            &.button-style.checked {
                >.label-text {
                    background-color: #e6e6e6;
                    border-color: #d9d9d9;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}