.xue-popover-content-wrapper {
    position: absolute;
    z-index: 90;
    background-color: transparent;
    &.position-top {
        transform: translateX(-50%) translateY(-100%);
        padding-bottom: 10px;
    }
    &.position-bottom {
        transform: translateX(-50%);
        padding-top: 10px;
    }
    &.position-left {
        transform: translateX(-100%) translateY(-50%);
        padding-right: 10px;
    }
    &.position-right {
        transform: translateY(-50%);
        padding-left: 10px;
    }
    >.xue-popover-content {
        border-radius: 4px;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
        position: relative;
        background-color: #fff;
        >.xue-popover-content-arrow {
            position: absolute;
            border: 5px solid;
            width: 0;
            height: 0;
            background-color: inherit;
            &.position-top {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%) translateY(50%) rotateZ(45deg);
                box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
            }
            &.position-bottom {
                top: 0;
                left: 50%;
                transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
                box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.07);
            }
            &.position-left {
                top: 50%;
                right: 0;
                transform: translateX(50%) translateY(-50%) rotateZ(45deg);
                box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
            }
            &.position-right {
                top: 50%;
                left: 0;
                transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
                box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
            }
        }
    }
}