*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul, ol {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 8px;
    color: rgba(0, 0, 0, .85);
}
h1 {
    font-size: 30px;
    line-height: 38px;
}
h2 {
    font-size: 24px;
    line-height: 32px;
}
h3 {
    font-size: 18px;
    line-height: 26px;
}
h4 {
    font-size: 14px;
    line-height: 22px;
}
a {
    text-decoration: none;
    color: #1890ff;
}
p {
    margin: 14px 0;
    line-height: 2em;
}
img {
    vertical-align: top;
    border: none;
}